html{
  font-size: 20px;
}
*{box-sizing: border-box;

}
body{
  margin: 0;
  background-image: url(../img/vivid-blurred-colorful-background.jpg);
}
.container{
max-width: 1280px;
text-align: center;
margin-right: auto;
margin-left: auto;
padding-left:  20px;
padding-right: 20px;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: brown;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  
}
.header{
      
  color: brown;

}
.navbar{
background-color: #ddd8d8; 
padding: 0;
}

.logo{
display: flex;
flex-direction: row;
}  


.copyright{
  text-align: center;
}
.art{
  text-align: center;
  text-decoration: none;
}

.chd:hover{
background-color: #05e7a7;
text-decoration: none;


}


.navbar-list {

  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: space-evenly
  }
.navbar-item {
}
.navbar-link {
  font: 1em sans-serif;
  padding: 20px;
  background-color: red;
  display: block;
  text-decoration: none;
}

.hover::first-letter{
  color: #05e7a7;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

